ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}
li {
    margin-bottom: 1rem;
    margin: 10px 20px;
    flex-basis: calc(100% - 40px);
    /* display: inline-block; */
    list-style: none;
    
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
main {
    width: 80%;
    margin: 0 auto;
}
button {
    margin-bottom: 10px;
}
.container-btns {
    text-align: center;
}
.name {
    font-weight: bold;
}
@media screen and (min-width: 769px) {
    li {
        flex-basis: calc(33.33% - 40px );
    }
}